{% extends 'dapricot/base.html' %}

{% block main %}
<article class="grid-main">
	<div class="container">
		<div class="box card-primary half-center autoheight">
			<h2>Sample Single Use App</h2>
		</div>
		<div class="box card half-center autoheight">
			<div class="box half autoheight"><img src="{{ strava_info.3 }}" /></div>
			<div class="box half autoheight">
				<p>{{ strava_info.0 }}</p>
				<p>{{ strava_info.1 }} ({{ strava_info.2 }})</p>
			</div>
		</div>
		<div class="box card-secondary half-center autoheight">
			<h4>bikes</h4>
		</div>
		<div class="box card half-center autoheight">
			{% for bike in strava_info.4 %}
				<p>{{bike.0}} : {{bike.1}}Km</p>
			{% endfor %}
		</div>
	</div>
</article>
{% endblock %}
