{% extends "dapricot/base.html" %}																																									
{% load dacommon %}
{% load dafitness %}

{% block header %}
<nav>
</nav>
<h1>Getting Started</h1>
<p>This is a basic HTML template to help you get started with <a href="http://base.gs"><strong>Base</strong></a>. Apart from the grid system, Base includes a sensible reset to start styling your site on.</p>
<hr>
{% endblock %}

{% block main %}
<article class="grid-cards">
	<h3>Spotify tags</h3>
	<div class="container">
		{% spotify_currently_playing %}
		{% spotify_top_artists limit=2%}
		{% spotify_top_songs limit=2%}
	</div>
</article>
<article class="grid-cards">
	<h3>Cards <em>(_cards.scss)</em></h3>

	<div class="container">
		<div class="box card-spotify">
			<h3>.card-spotify</h3>
		</div>
	</div>
</article>
<article>
	<div class="grid-reference">
		<h2></h2>
		<p>These quick guides will help you get started. For more detailed instructions check out the documentation.</p>

		<h3>Grid <em>(_layout.scss)</em></h3>
		<table>
			<tr>
				<th>Mixin</th>
				<th>Usage</th>
			</tr>
			<tr>
				<td>
					<code>@include container()</code>
				</td>
				<td>
					<em>Apply to an element wrapping the column structure</em>
				</td>
			</tr>
			<tr>
				<td>
					<code>@include columns($columns, $offset, $gutter)</code>
				</td>
				<td>
					<code>@include columns(8, 0, 0)</code>
				</td>
			</tr>
			<tr>
				<td>
					<code>@include responsive-columns($breakpoint, $columns, $offset);</code>
				</td>
				<td>
					<em>Apply to overwrite default breakpoint columns</em>
				</td>
			</tr>
		</table>
	</div>
	<div>
		<h3>Grid Settings<em>(_variables.scss)</em></h3>
		<p>Grid breakpoints and settings are set in <code>_variables.scss</code></p>
		<p>Check grid examples <a href="{% url 'grid' %}">here</a>
	</div>
	<div>
		<h3>Breakpoints <em>(_variables.scss)</em></h3>
		<table>
			<tr>
				<th>Mixin</th>
				<th>Usage</th>
			</tr>
			<tr>
				<td>
					<code>@include respond-to($breakpoint-name)</code>
				</td>
				<td>
					<code>@include respond-to('mobile') { <br/> /* custom styles */ } </code>
				</td>
			</tr>
		</table>
	</div>
	<div>
		<h3>Buttons <em>(_buttons.scss)</em></h3>
		<button>.button</button>
		<button class="disabled">.button.disabled</button><br>
		<button class="primary">.button-primary</button>
		<button class="primary disabled">.button-primary.disabled</button><br>
		<button class="secondary">.button-secondary</button>
		<button class="secondary disabled">.button-secondary.disabled</button><br>
		<p>Social icons are achived by prefixing icon text with:<br><code>&lt;span class=&quot;icon-[socialNework]&quot;&gt;</code></p>
		<button class="facebook"><span class="icon-facebook"></span>.button-facebook</button>
		<button class="facebook disabled">.button-facebook.disabled</button><br>
		<button class="twitter"><span class="icon-twitter">.button-twitter</button>
		<button class="twitter disabled">.button-twitter.disabled</button><br>
		<button class="huge">.button.huge</button>
	</div>
	
	<div>
		<h3>Forms <em>(_forms.scss)</em></h3>
		<p>All HTML5 form elements are normalized to a set of core styles.</p>
		<form>
			<input type="text" placeholder="Name">
			<input type="email" placeholder="Email">
			<input type="submit" value="Subscribe">
		</form>
	</div>

	<div>
		<h3>Mixins <em>(_mixins.scss)</em></h3>
		<p>Base includes scss mixins for CSS3 properties, animations, gradients and some utility mixins. Check the source to see what's available.</p>
	</div>
	<div>
		<h3>Type <em>(_type.scss)</em></h3>
		<p>Typography is controlled in <code>_type.scss</code>. Base provides a clean and sensible reset for heading styles, paragraphs, tables, lists and others.</p>

		<h3>Variables <em>(_variables.scss)</em></h3>
		<p>Control colors and fonts across the site. Begins with:</p>
		<ul>
			<li>Heading font-family - <em>@headingFont</em></li>
			<li>Paragraph font-family - <em>@paragraphFont</em></li>
			<li>Text color - <em>@textColor</em></li>
			<li>Base color - <em>@baseColor</em></li>
			<li>Primary color - <em>@primaryColor</em></li>
			<li>Secondary color - <em>@secondaryColor</em></li>
		</ul>
	</div>

</article>

<aside>

	<h2>Resources</h2>

	<h4>Documentation</h4>
	<p>More detailed documentation is available on the <a href="https://github.com/agency/base" target="_blank">GitHub repo</a>.</p>

	<h4>CSS Compiler</h4>
	<p>Base includes Grunt configuration and tasks to watch and compile scss files. With <a href="http://nodejs.org/download/" target="_blank">npm</a> installed, navigate to the Base directory in command line and run <code>npm install</code> then <code>grunt dev</code>.</p>

	<h4>Sidebar Content</h4>
	<p>This is a sidebar block to demonstrate a basic Base grid. Change the columns in <code>_layout.scss</code> and resize the page to see how the compiled responsive files work</p>

</aside>
{% endblock %}	

{% block footer %}
<hr>
{% endblock %}