{% if api_authenticated %}
<a class="button-spotify icon-spotify" href="{{ profile.1 }}">
	{{ profile.0 }}
	<img src="{{ profile.2.0.url }}" />
</a>
{% else %}
<a class="button-spotify" href="{% url 'damusic:auth' %}">
	Authorize API
</a>
{% endif %}