{% if api_authenticated %}
	{% if currently_playing %}
		<div class="card-spotify box">
			{% if currently_playing.episode %}
			<img src="{{ currently_playing.show.2 }}" class="cover"/>
			<div class="info">
				<p>
					<strong>{{ currently_playing.episode.0 }}</strong><br/>
					{{ currently_playing.show.0 }}
				</p>
			</div>

			<a class="button-spotify icon-spotify slim" href="{{ currently_playing.episode.1 }}"></a>
			{% elif currently_playing.track %}
			<img src="{{ currently_playing.album.2 }}" class="cover"/>
			<div class="info">
				<p>
					<strong>{{ currently_playing.track.0 }}</strong><br/>
					{{ currently_playing.album.0 }}
				</p>
				<p>
					{% for artist in currently_playing.artist %}{{ artist.0 }} {% endfor %}
				</p>
			</div>

			<a class="button-spotify icon-spotify slim" href="{{ currently_playing.track.1 }}"></a>
			{% else %}
			<h2>Item not sup</h2>
			<a class="button-spotify icon-spotify slim" href="spotify:"></a>
			{% endif %}
		</div>
	{% else %}
		<div class="card-spotify box">
			<h2>Nothing playing</h2>
			<a class="button-spotify icon-spotify slim" href="spotify:"></a>
		</div>
	{% endif %}
{% else %}
<a class="button-spotify icon-spotify slim" href="{% url 'damusic:auth' %}">
	Authorize API
</a>
{% endif %}