{% if api_authenticated %}
<div class="card-spotify list box">
	{% for item in items %}
	<a class="spotify-top-item" href="{{ item.1 }}">
		<img src="{{ item.2 }}"/> 
		<p class="name full">{{ item.0 }}</p>
	</a>
	{% endfor %}
	<a class="button-spotify icon-spotify" href="spotify:"></a>
</div>
{% else %}
<a class="button-spotify icon-spotify" href="{% url 'damusic:auth' %}">
	Authorize API
</a>
{% endif %}