{% if api_authenticated %}
<div class="card-spotify list box">
	{% for item in items %}
	<a class="spotify-top-item" href="{{ item.2 }}">
		<img src="{{ item.3 }}"/>
		<p>
			<strong>{{ item.0 }}</strong><br/>
			{{ item.1 }}
		</p>
	</a>
	{% endfor %}
	<a class="button-spotify icon-spotify" href="spotify:"></a>
</div>
{% else %}
<a class="button-spotify icon-spotify" href="{% url 'damusic:auth' %}">
	Authorize API
</a>
{% endif %}