{% extends 'dapricot/base.html' %}
{% load damusic %}

{% block main %}
<article class="grid-main">
	<div class="container">
		<div class="box card-spotify half-center autoheight">
			<h2>Spotify Integration</h2>
		</div>
		<div class="box card half-center autoheight">
			{% spotify_badge %}
		</div>
		<div class="box card half-center autoheight">
			<a href="/" class="button">Go back home</a>
		</div>
	</div>
</article>
{% endblock %}
